body {
    padding: 1rem;
    margin: 0;
    background-color: rgb(123, 123, 123); /* Add a backing color to show the tranparency of the PNGs and SVGs */
}

p {
    margin: 0;
}

.leaves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 2rem;
}

.leaf,
.leaf_2,
.leaf_3,
.leaf_4 {
    width: 100px;
    height: 100px;
    border: solid rgb(23, 92, 32) 3px;
    background-color: green;
    border-top-left-radius: 50%; /* round out some corners of the leaf */
    border-top-right-radius: 50%; /* round out some corners of the leaf */
    border-bottom-left-radius: 50%; /* round out some corners of the leaf */
    rotate: 225deg; /* Rotate the square with rounded corner to something that can be recognized as a "leaf" */
}

.leaf_2,
.leaf_4 {
    border-top-left-radius: 0;
}

.leaf_3,
.leaf_4 {
    position: relative;
}

/* These ::after psuedoelements also inherit the rotation from the "parent" leaf element. */
/* It helped to comment-out the leaf rotation while making the stems and then put it back later. */
.leaf_3::after,
.leaf_4::after {
    content: " ";
    border: solid rgb(23, 92, 32) 3px;
    position: absolute;
    height: 100px;
    rotate: 135deg; /* Rotates ONLY the stem in addition to the 225deg from the parent. */
}

/* Position the "stem" individually based on the length of the leaf */
.leaf_3::after {
    top: -21px;
    left: 29px;
}

/* Position the "stem" individually based on the length of the leaf */
.leaf_4::after {
    top: -29px;
    left: 21px;
}
